body {
  font-family: Arial;
  color: black;
}

h1 {
  text-align:center;
}

.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: space-around;
  row-gap: 15px;
  padding: 15px;
}

.item {
  padding: 15px;
}

.blue {
  fill: #a6cee3;
  stroke: black;
  border: 3px solid black;
}

.green {
  fill: greenyellow;
}
.green:hover {
  fill: greenyellow;
  stroke: black;
  border: 3px solid black;
}

.red {
  fill: purple;
  opacity: 1;
  stroke: black;
  border: 30px solid black;
}


.opaque {
  fill: red;
  opacity: 0.1;
}

.border {
  border-style: solid;
  border: black;
}
